/* darks red #841A1A blue #272D68*/
/* brights red DB2E2E blue 0012D1*/
body {
    background-color: #E5E1E6;
    color: #000000;
    margin: 0;
    font-family: times, serif;
    font-size: 1.2rem;
    text-align: center;
    vertical-align: top;
  }
ul {
  text-align: left;
}
p{
  margin:0;
}
  hr {
    border-color: #08ace2;
    border-style: solid none none;
    border-width: 5px;
    height: 0;
    width: 50%;
  }
  .bigger-break{
    border-color: #084177;
    border-style: solid none none;
    border-width: .2rem;
    margin: .7rem 0;
    width: 100%;
  }
  h1 {
    color:#272D68;
    font-family: Quicksand, sans-serif;
    font-size: 4rem;
    margin: 0;
    padding:.3rem;
  }
  h2 {
    color:#841A1A;
    font-family: Quicksand, sans-serif;
    font-size: 2rem;
    margin: 0;
    padding:.3rem;
  }
.sectionA{
  background-color: #e4e3e3;
  margin: 0 auto;
  width: 25rem;

}
